@font-face {
  font-family: "OldSport";
  src: url("old_sport.ttf") format("truetype"); /* Safari, Android, iOS */
}

.tab-list {
  border-bottom: 2px solid #dfdfdf;
  padding-left: 0;
  margin: 0 0 2rem 0;
  z-index: 20;
  font-weight: bold;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -2px;
  padding: 0.5rem 0.75rem;
}
.tab-list-item:hover {
  display: inline-block;
  list-style: none;
  margin-bottom: -2px;
  padding: 0.5rem 0.75rem;
  border-width: 2px 2px 0 2px;
  background-color: #dfdfdf;
}
.tab-list-active {
  background-color: white;
  border: solid #dfdfdf;
  border-width: 2px 2px 0 2px;
  z-index: 10;
}
.eventDate h3 {
  margin: 8px 0;
  font-weight: 400 !important;
}

.eventButton {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: #3373dc;
  border: none;
  color: #fff;
  font-weight: bold;
  box-shadow: 3px 3px#c0c0c0;
  transition: box-shadow 0.2s;
}
.eventButton:hover {
  border-radius: 5px;
  background-color: #3373dc;
  color: #fff;
  font-weight: bold;
  box-shadow: none;
  transition: 0.2s;
}

.whoPlays {
  display: flex;
  width: 100%;
}
.logos {
  display: flex;
  align-items: center;
}

.logos svg {
  height: 60px;
  margin: 1.2rem 2rem;
}
.kontakt p {
  margin: 0 0 0.25rem 0;
}
